
/*-----------------------*/
/*GENERAL*/
/*-----------------------*/
body {
	background-color: #ffc;
}

#top, #bottom, #left, #right {
	background: #ffe4b2;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }

#name {
	background-color: #7ec0ee;
	padding: 5px;
	margin: 5px auto 0 auto;
	max-width: 100%;
}

#name p {
	text-align: center;
	color: #551a8b;
}

#name p:nth-child(1) {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}

#name p:nth-child(2) {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

#header {
	color:red;
	margin: 0 auto;
	text-align: right;
	background-color: #a4d2f3;
	padding: 5px;
	border-bottom: 2px solid #7293aa;
}

#header ul li {
	list-style: none;
	font-size: 20px;
	display: inline;
	text-decoration: none;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	max-width: 100%;
}

#header ul li a {
	text-decoration: none;
	color: red;
}

#header ul li a.on {
	color: #e59400;
}

#header ul li a:hover {
	color: #f99;
}

#main {
	margin: 0px auto;
	background-color: #ffc;
	max-width: 100%;
	overflow: auto;
}

footer div {
	margin: 0 auto;
	width: 25px;
}

footer img {
	width: 25px;
	height: 25px;
	display: block;
	margin: 20px auto 0px auto;
}

footer p {
	text-align: center;
}

/*-----------------------*/
/*HOME*/
/*-----------------------*/

#home-main {
	margin: 0 auto;
	padding: 0 5%;
}

.poke {
	max-width: 100px;
	display: inline-block;
	background-color: #ccf;
	padding: 15px;
}

p, h3, h2 {
	font-family: 'Ubuntu', sans-serif;
}


/*-----------------------*/
/*ABOUT ME*/
/*-----------------------*/

#main-about {
	margin: 0 auto;
}

#prof-img {
	display: block;
	border-radius: 100%;
	max-width: 200px;
	margin: 0 30px;
	padding: 10px;
	float: left;
}

#main-about table {
	table-layout: fixed;
}

#main-about table td {
	padding: 0 5%;
	vertical-align: top;
}

/*-----------------------*/
/*CONTACT*/
/*-----------------------*/

#main-contact table {
	table-layout: fixed;
}

#main-contact table td {
	width: 40%;
	vertical-align: top;
}

#main-contact .contact-text{
	background-color: #ffc;
	padding: 0 5%;
	width: 47%;
}

#main-contact .contact-text h3, p {
	font-family: 'Ubuntu', sans-serif;
}

#main-contact .contact-info{
	background-color: #ffc;
	padding: 0 5%;
	margin-top: 0px;
}

#main-contact .contact-info  h3, p{
	font-family: 'Ubuntu',sans-serif
}

select {
	font-family: 'Ubuntu', sans-serif;
}

#freetime {
	border: 1px solid green;
	font-size: 15px;
	max-width: 25%;
}